.OutPut{
    width: 50%;
    height: 100%;
    flex-wrap:wrap;
    background-color: #1e1e1e; /* Fondo oscuro igual a Monaco */
    color: #d4d4d4; /* Color del texto */
    font-family: 'Fira Code', monospace;
    overflow: hidden;
}

.output-container {
    display: flex;
    /* border: 1px solid #333; */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .line-numbers {
    background: #252526;
    color: #858585;
    font-size: 1rem;
    padding: 0 0 0 30px; 
    text-align: right;
    user-select: none;
    min-width: 40px;
    white-space: pre-wrap;
  }
  
  .output-content {
    background: #1e1e1e;
    padding: 0 0 2px 10px;
    flex-grow: 1;
    white-space: pre-wrap;
    overflow-x: auto;
  }