.OutPut {
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  background-color: #1e1e1e; /* Fondo oscuro igual a Monaco */
  color: #d4d4d4; /* Color del texto */
  font-family: "Fira Code", monospace;
  overflow: hidden;
}

.output-container {
  display: flex;
  /* border: 1px solid #333; */
  overflow: hidden;
  gap: 10px;
  background: #252526;
}

.line-numbers {
  background: #252526;
  color: #fff;
  font-size: 1rem;
  text-align: right;
  user-select: none;
  min-width: 40px;
  white-space: pre-wrap;
}

.output-content {
  background: #1e1e1e;
  flex-grow: 1;
  font-size: 0.9rem;
  white-space: pre-wrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-left: .5rem;
}
