.Footer{
    background-image: radial-gradient( circle 710px at 5.2% 7.2%,  rgba(37,89,222,1) 0%, rgba(37,89,222,1) 7.5%, rgba(4,4,29,1) 44.7% );
    height: 5%;
    display: flex;
    align-items: center;
    padding: 6px;
    flex-wrap:wrap;

}